<h1>Welcome to Photo-Synthesis!</h1>
<h3>Your place to show off your plant pics and comment on other's posts.</h3>
<br />
<br />
<h3> <%= link_to 'Log In', '/login' %> OR <%= link_to 'Sign Up', '/signup' %> to get started </h3>